@import url('https://fonts.googleapis.com/css?family=Assistant|Roboto');
#content {
    width: 75%; 
     margin: 0 auto; 
   }
body {
    font-family: "Roboto", sans-serif;
    background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
  }
h1{
    color: #a43134;
    font-family: "Assistant", sans-serif;
    font-weight: bold;
    text-align: center; 
    text-shadow: 2px 2px black;
    font-size: 3.5em;
    background-color: navy;
    border-radius: 7px;
    line-height: 2em;
  }
img{
    float: right;
    margin-right: 2em;
    margin-top: .3em;
    border: solid #a43134;
    display: flex;
    width: 12%;
    border-radius: 7px;
}
h2{
  padding: 5px;
  border-bottom: solid #a43134;
}
footer{
    background-color: navy;
    color: whitesmoke;
    text-align: center; 
    border-radius: 7px;
}
#white{
  color: whitesmoke;
}
ul{
  font-size: 1.1em;
  margin: 1.5em;
  line-height: 1.5em;
}