@media only screen and (min-width: 32.5em) {
    #icon{
        float: left;
        margin-top: .2em;
        margin-left: .2em;
    }
    body{
        width: 90%;
    }
    nav ul { 
        display: flex;
    }
	nav ul li { 
        flex: 1 1 100%; 
    }
}