@import url('https://fonts.googleapis.com/css?family=Anton%7cVarela+Round&display=swap');
body {
    font-family: "Varela Round", sans-serif;
    margin: 0 auto;
    background-color: #91f2ff;
    padding: .5em;
}
h1, h2, h3{
    margin: 0;
    padding: 0;
    font-family: "Anton", sans-serif;
    letter-spacing: .15em;
    padding-top: 1.5em;
}
.fullWidth{
    display: flex;
    width: 100%;
}
header,
footer {
    background-color: #f2da3c;
    padding: .3em;
}
footer{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-flow: column;
}
nav {
	background-color: #36454f;
	text-align: center;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav li a {
	display: block;
	color: #98db59;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
}
nav a:hover {
    background-color: #3ce8e2;
    color: black
}
#icon{
    display: flex;
    justify-content: center;
}
