@import url('https://fonts.googleapis.com/css?family=Assistant|Roboto');
#content {
    width: 95%; 
     margin: 1em auto; 
   }
body {
    font-family: "Roboto", sans-serif;
    background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
  }
h1{
    color: whitesmoke;
    font-family: 'Patrick Hand', sans-serif;
    font-weight: bold;
    text-align: center; 
    text-shadow: 2px 2px black;
    font-size: 3.5em;
    background-color: navy;
    border-radius: 7px;
    line-height: 2em;
  }
#myPic{
    margin: 1em;
    border: solid #a43134;
    display: flex;
    border-radius: 7px;
    width: 130px;
}
h2{
  padding: 5px;
  border-bottom: solid #a43134;
}
footer{
    font-family: 'Patrick Hand', sans-serif;
    background-color: navy;
    color: whitesmoke;
    text-align: center; 
    border-radius: 7px;
}
#white{
  text-decoration: none;  
  color: whitesmoke;
}
h3{
    border-bottom: solid #a43134;
  }
.phone{
    width: 350px;
    border: solid black;
}
.gridItem{
    width: 350px;
    background-color: whitesmoke;
    padding: 1em;
}